
<%- include("partials/header"); -%>
<h1>Home</h1>
<!--    Render variable key from  / route in ejs-->
<p> <%= startingContent %> </p>

<% console.log(posts); %>

<!-- loop through each seperate posts title and body which will be displayed-->

<% posts.forEach(function(post){ %>

    <!-- render content onto html page-->
   <h1><%= post.title %></h1>
   <p><%=post.content %></p>
 <% })  %>


<%- include("partials/footer"); -%>